<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tool.general.excel.dao.mapper.base.GeneralExcelBaseMapper">

    <!-- 通用查询 -->
    <select id="listByCondition" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        <foreach item="columnName" index="index" collection="columnList" separator=",">
            ${columnName}
        </foreach>
        FROM ${tableNames}
        <where>
            <if test="conditionExp != null and conditionExp != '' ">
                ${conditionExp}
            </if>
            <if test="foreachConditionExpList != null and foreachConditionExpList.size() &gt; 0">
                <foreach collection="foreachConditionExpList" item="foreachObj" separator="">
                    ${foreachObj.foreachConditionExp}
                    <foreach collection="foreachObj.foreachItemList" open="(" separator="," close=")" item="item">
                        #{item}
                    </foreach>
                </foreach>
            </if>
        </where>

        <if test="orderByExp != null and orderByExp != '' ">
            ORDER BY ${orderByExp}
        </if>
        <if test="startRow != null and pageSize !=null ">
            LIMIT #{startRow}, #{pageSize}
        </if>
    </select>

</mapper>